{
    "swagger": "2.0",
    "info": {
        "title": "1CRM API",
        "description": "1CRM API to list, read and write Data to 1CRM",
        "version": "1.0.0"
    },
    "host": "demo.1crm.de",
    "basePath": "/api.php",
    "schemes": [
        "https"
    ],
    "security": [
        {
            "basicAuth": []
        }
    ],
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        }
    },
    "paths": {
        "/data/@{triggerBody()['text']}": {
            "get": {
                "operationId": "get@{triggerBody()['text']}List",
                "parameters": [
                    {
                        "in": "query",
                        "name": "fields",
                        "x-ms-summary": "The fields to fetch",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false,
                        "description": "Array of field names to fetch. When omitted, a limited number of fields are returned, depending on model. Record ID is guaranteed to be returned, and for most models, name and/or _display fields."
                    },
                    {
                        "in": "query",
                        "name": "query_favorite",
                        "type": "boolean",
                        "x-ms-visibility": "advanced",
                        "required": false,
                        "description": "Query favorites. If set, favorite field will be added to each result row, indicating whether the current user added the item to Favorites. Note that item is in favorites if and only if the value of favorite field is zero"
                    },
                    {
                        "in": "query",
                        "name": "filter_text",
                        "type": "string",
                        "required": false,
                        "description": "Generic search string. Fields involved in search depend on model"
                    },
                    {
                        "in": "query",
                        "name": "filters",
                        "x-ms-visibility": "advanced",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false,
                        "description": "Filters to apply. To get list of available filters for a model, use metadata. Format: filter[name]=SearchName (deepobject in OpenApi3)"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "type": "string",
                        "x-ms-visibility": "advanced",
                        "required": false,
                        "description": "Sort Order"
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "type": "integer",
                        "x-ms-visibility": "advanced",
                        "required": false,
                        "description": "Offset in the list to start retrieval from"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "type": "integer",
                        "x-ms-visibility": "advanced",
                        "required": false,
                        "description": "Limits number of records returned"
                    }
                ],
                "description": "Get @{triggerBody()['text']} List",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "a json Object with @{triggerBody()['text']} Array and information of total count",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_count": {
                                    "type": "integer"
                                },
                                "records": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/@{triggerBody()['text']}"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "get @{triggerBody()['text']} List from 1CRM"
            },
            "post": {
                "operationId": "create@{triggerBody()['text']}",
                "parameters": [
                    {
                        "description": "@{triggerBody()['text']} object to be added to 1CRM",
                        "in": "body",
                        "name": "@{triggerBody()['text']}",
                        "required": true,
                        "schema": {
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/@{triggerBody()['text']}"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "description": "Create a @{triggerBody()['text']}",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "a json Object with @{triggerBody()['text']} Array and information of total count",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "ID of the newly created @{triggerBody()['text']}"
                                }
                            }
                        }
                    }
                },
                "summary": "create new @{triggerBody()['text']}"
            }
        },
        "/data/@{triggerBody()['text']}/{id}": {
            "get": {
                "operationId": "getSingle@{triggerBody()['text']}",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": "The id of the record to be fetched"
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false,
                        "description": "Array of field names to fetch. When omitted, all available fields are returned."
                    }
                ],
                "description": "Get single @{triggerBody()['text']} Object",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "a json Object with @{triggerBody()['text']} record",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "record": {
                                    "$ref": "#/definitions/@{triggerBody()['text']}"
                                }
                            }
                        }
                    }
                },
                "summary": "get single @{triggerBody()['text']} Object from 1CRM"
            },
            "patch": {
                "operationId": "updateSingle@{triggerBody()['text']}",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": "The id of the record to be updated"
                    },
                    {
                        "description": "@{triggerBody()['text']} object to be updated in 1CRM",
                        "in": "body",
                        "name": "@{triggerBody()['text']}",
                        "required": true,
                        "schema": {
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/@{triggerBody()['text']}"
                                },
                                "create": {
                                    "type": "boolean",
                                    "description": "If true, record will be created if it does not exist"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "description": "Get single @{triggerBody()['text']} Object",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "always true",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "boolean",
                                    "description": "always true"
                                }
                            }
                        }
                    }
                },
                "summary": "update @{triggerBody()['text']} in 1CRM"
            },
            "delete": {
                "operationId": "deleteSingle@{triggerBody()['text']}",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "string",
                        "required": true,
                        "description": "The id of the record to be deleted"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "true if deleted",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "boolean",
                                    "description": "true if deleted"
                                }
                            }
                        }
                    }
                },
                "summary": "delete @{triggerBody()['text']} in 1CRM"
            }
        },
        "/webhooks": {
            "x-ms-notification-content": {
                "schema": {
                    "type": "object",
                    "$ref": "#/definitions/@{triggerBody()['text']}"
                },
                "description": "The @{triggerBody()['text']} fields"
            },
            "post": {
                "responses": {},
                "x-ms-trigger": "single",
                "summary": "When an @{triggerBody()['text']} is created or updated",
                "description": "This operation triggers when an @{triggerBody()['text']} is created  or updated in 1CRM",
                "operationId": "createUpdate@{triggerBody()['text']}Webhook",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "description": "Event Type",
                                    "title": "Event Type",
                                    "enum": [
                                        "create",
                                        "update",
                                        "create_update"
                                    ]
                                },
                                "url": {
                                    "type": "string",
                                    "description": "url",
                                    "x-ms-notification-url": true,
                                    "title": "",
                                    "x-ms-visibility": "internal"
                                },
                                "model": {
                                    "type": "string",
                                    "description": "1CRM Object Model",
                                    "title": "Model",
                                    "default": "@{triggerBody()['text']}",
                                    "x-ms-visibility": "internal"
                                },
                                "filters": {
                                    "type": "object",
                                    "description": "1CRM Webhook Filter Object, see developer documentation",
                                    "properties": {
                                        "glue": {
                                            "type": "string",
                                            "example": "or"
                                        },
                                        "conditions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "field": {
                                                        "type": "string",
                                                        "example": "first_name"
                                                    },
                                                    "filter": {
                                                        "type": "string",
                                                        "example": "eq"
                                                    },
                                                    "value": {
                                                        "type": "string",
                                                        "example": "John"
                                                    },
                                                    "when": {
                                                        "type": "string",
                                                        "example": "current_value"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "glue": "or",
                                        "conditions": [
                                            {
                                                "field": "deleted",
                                                "filter": "is_false",
                                                "value": "0",
                                                "when": "current_value"
                                            }
                                        ]
                                    },
                                    "x-ms-visibility": "advanced"
                                }
                            },
                            "required": [
                                "url",
                                "model",
                                "type",
                                "filters"
                            ]
                        }
                    }
                ]
            }
        }
    },
    "definitions": {}
}